body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1, h2 {
  color: #333;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0a0101;
}
